:root {
  --amarelo: #ffcc00;
  --cinza: #cccccc;
}
.estrelas input[type="radio"] {
  display: none;
}

.estrelas label i.opcao.fa:before {
  content: "\f005";
  color: var(--amarelo);
}

.estrelas input[type="radio"]:checked ~ label i.fa:before {
  color: var(--cinza);
}
.comentarioprod {
  flex-basis: 44%;
  margin: 20px 0;
  background-color: #fff;
  border: 3 px;
  border-radius: 5px;
  border-color: #030303;
  border-style: dashed;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  color: rgb(34, 34, 34);
  width: 500px;
  height: 80px;
  margin-left: 30px;
}
.comentario_estrela_prod {
  display: flex;
  padding-bottom: 8px;
}
.comentarioprod_usuario {
  padding-left: 10px;
}
